
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: "Futura", Helvetica, sans-serif;
  background: url('asset/tropical-palm-trees-beach-ocean-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
main{
  height: 520px;
  box-sizing: border-box;
}
h1, h2{
  margin-top: 15px;
  margin-left: 65px;
  line-height: 20px;
}
p{
  line-height: 20px;
}
#content-principal{
  width: 80%;
  height: 60%;
  margin: 5% 10% 5% 10%;
  background: rgba(236, 240, 241,0.8);
}

html {
  box-sizing: border-box;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/*------------------------------------------------------MENU------------------------------------------------------------*/
  
header {
  text-transform: uppercase;
  padding: 16px 0 16px 32px;
  font-size: 0.8em;
  /*box-shadow: 0 1px 16px rgba(0, 0, 0, .4);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  margin: 0;
  /*background: #1437A2;*/
}

#logo, nav, li {
  display: inline-block;
  margin-right: 2.5em;
  font-weight: bold;
}

#logo {
  font-size: 3em;
  vertical-align: center;
  color: white;
  background: url('asset/tropical-palm-trees-beach-ocean-desktop.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: inline-block;
  line-height: 48px;
  vertical-align: top;
}

nav ul li a{
  color: #1437A2;
  font-weight: bold;
}

li a, .button {
  text-decoration: none;
  color: #333;
}

.button {
  text-transform: uppercase;
  float: right;
  margin-top: -16px;
  line-height: 84px;
  height: 84px;
  text-decoration: none;
  padding: 0 16px;
}

#global {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(images/background.png) center;
  background-size: cover;
}


#menu, #menu-content {
  display: inline;
}

#menu-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  vertical-align: top;
  padding: 0;
  line-height: 47px;
  float: right;
  margin-right: 32px;
}

#menu-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#menu-sidebar {
  display: none;
  position: fixed;
  width: 70%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-y: auto;
  transform: translateX(-100%); /* placer à -100 du page*/
  transition: transform .2s ease-out;/* durée de transition*/
}

#menu-sidebar li {
  display: block; /*afficher en block*/
}

#menu-sidebar-header {
  background-color: #7ed6df;
  background-size: cover;
  height: 128px;
  display: flex;
  justify-content: center; /*centrer les contenus*/
  align-items: center; /*centrer les contenus*/
}

#menu-sidebar-header img{
  width: 120px; /* definir la largeur*/
  height: 120px;/*definir la hauteur*/
  border-radius: 100%; /*arrondir le bordure*/
}

#menu-sidebar-body {
  padding: 16px 8px; /*definir une marge interieur*/
}

#menu-sidebar-body .button {
  margin-top: 16px; /*ajouter une marge en haut*/
  text-align: center;
  float: none; /*cacher le bouton*/
  display: block;/*affiche en block*/
  height: auto;
  line-height: inherit; /*espace entre les lignes*/
  padding: 10px;
}

.menu-socio{
  display: none; /*cacher les elements*/
}
nav ul button{
  background: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
nav ul button:hover{
  background: green;
  width: 105px;
  height: 40px;
  border: none;
  border-radius: 10px;
  transition: 3s;
}
nav ul button a{
  font-size: 1.2em;
  font-weight: bold;
  color: #1437A2;
}
/*------------------------------------------------------MENU------------------------------------------------------------*/
  
    
/*------------------------------------------------------home------------------------------------------------------------*/

.block-home{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.content-img img{
  width: 70%;
}
.content-about{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.socio{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.socio img{
  width: 30%;
  margin: 10px;
}
.content-btn{
  display: flex;
  flex-direction: row;
  margin-left: 65px;
  
}
.btn{
  width: 30%;
  height: 40px;
  margin-right: 20px;
  margin-top: 1px;
  border: 0;
  border-radius:  0px;
  font-weight: bold;
  color:white;
  background-color: #1437A2;
}
.btn a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}
.content-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content-section .nextBtn{
  background: #1437A2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%; 
  margin-top: 0;
}
.nextBtn:hover{
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 10s;
}
.sectionParagraphe{
  margin: 0;

}
.sectionParagraphe p{
  line-height: 2em;
  text-align: justify;
  padding: 1em;
  background: none;

}
/*------------------------------------------------------home------------------------------------------------------------*/

.content-page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}
.block-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.block-page h3{
  font-size: 0.7em;
}
.block-page img{
  width: 30%;
  border-radius: 100%;
}


/*------------------------------------------------------home------------------------------------------------------------*/


/*------------------------------------------------------Parcours------------------------------------------------------------*/
#content-parcours{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
#content-parcours main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#content-parcours a{
  margin: 20px;
  font-weight: bold;
}




